<div class='about-container'>
    <div class='row'>
        <div class='col-md-6 about-img-wrapper'>
            <%= image_tag "#{@user.image}", width: '80%' %>
        </div>

        <div class='col-md-5 about-blurb'>
            <h1>About Me</h1>
            <hr>
            <p>My name is <strong>Colin Lavery</strong> and I am a video editor based in <strong>Lehi, UT, USA</strong>.</p>
            <p>I have been editing videos for over 5 years and have worked on a wide range of projects, from short films to music videos and corporate videos.</p>
            <p>My passion is to create videos that are engaging and entertaining, and I am always looking for new and exciting projects to work on.</p>
            <p>If you would like to work with me, please visit my contact page and get in touch.</p>
        </div>
    </div>
</div>
