<div class='contact-container'>
    <div class='contact-info-wrapper'>
        <h1>Contact Me</h1>
        <hr>
        <p><i class="bi bi-house-door-fill"></i>: 123 Anystreet Springfield, IL</p>
        <p><i class="bi bi-telephone-fill"></i>: 555-555-5555</p>
        <p><i class="bi bi-envelope-at-fill"></i>: <a href='#'>Email me</a></p>
    </div>

    <div class='contact-map-wrapper'>
        map
    </div>
</div>
