<div class='contact-container'>
    <div class='contact-info-wrapper'>
        <h1>Let's work together!</h1>
        <hr>
        <h3>Colin Lavery</h3>
        <p><i class="bi bi-telephone-fill"></i>: 385-251-2156</p>
        <p><i class="bi bi-envelope-at-fill"></i>: <a href="mailto:colinlavery78@icloud.com?subject=PortfolioContact">colinlavery78@icloud.com</a></p>
    </div>

    <div class='contact-image-wrapper'>
        <%= image_tag("login.jpg", width: "80%") %>
    </div>
</div>

