<div class='contact-container'>
    <div class='row'>
        <div class='col-sm-6 contact-info-wrapper'>
            <h1>Contact Us</h1>
            <p>Address: 123 Anystreet Springfield, IL</p>
            <p>Phone: 555-555-5555</p>
            <p><a href='#'>Email me</a></p>
        </div>

        <div class='col-sm-6 contact-map-wrapper'>
            map
        </div>
    </div>
</div>
