<div class='contact-container'>
    <div class='contact-info-wrapper'>
        <h1>Let's work together!</h1>
        <hr>
        <h3>Colin Lavery</h3>
        <p><i class="bi bi-house-door-fill"></i>: 218 W. 1700 N. Lehi, UT</p>
        <p><i class="bi bi-telephone-fill"></i>: 385-251-2156</p>
        <p><i class="bi bi-envelope-at-fill"></i>: <a href="mailto:colinlavery78@icloud.com?subject=PortfolioContact">Email me</a></p>
    </div>

    <div class='contact-map-wrapper'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.99439452138!2d-111.85525108447895!3d40.40897496403474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d80210f4bea3d%3A0x18597c3c3d2e144c!2s218%20W%201700%20N%2C%20Lehi%2C%20UT%2084043!5e0!3m2!1sen!2sus!4v1680749574993!5m2!1sen!2sus" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

