
<div>
    <h1>Video Editing Portfolio</h1>
    <p>Welcome to my video editing portfolio. Here you can find some of my best work.</p>
    <p>Click on the links above to view my work.</p>
    <div class='row row-cols-2'>
        <% @projects.each do |project| %>
            <%= render 'shared/project_item', project: project %>
        <% end %>
    </div>
</div>
