<div class='project-container'>

  <h1>Editing project</h1>

  <%= render "form", project: @project %>

  <br>

  <div class='actions-wrapper'>
    <%= link_to "Show this project", @project %> 
    <%= link_to "Back to projects", projects_path %>
    <%= button_to "Destroy this project", @project, method: :delete %>
  </div>
</div>
