<div class='project-container'>
  <p style="color: green"><%= notice %></p>

  <h1 class='text-center'>Projects</h1>
  <hr>
  <div id="projects">
    <div class='row row-cols-2'>
      <% @projects.each do |project| %>
        
          <%= render project %>

      <% end %>
    </div>
  </div>
</div>
