<div class='project-container'>

  <h1>New project</h1>

  <%= render "form", project: @project %>

  <br>

  <div class='actions-wrapper'>
    <%= link_to "Back to projects", projects_path %>
  </div>
</div>
