.nav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 2rem;

    .nav-head {
        margin-bottom: 4rem;
    }

    .links-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    a {
        margin: 20px 0;
        font-size: 1.2rem;
        color: #c9cd7d;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #e7d651;
        }
    }

    .auth-actions {
        margin-top: 25px;
        margin-right: 20px;
    }

    .logout-btn {
        text-decoration: none;
        color: #c9cd7d;
        border: none;
        padding: 10px 0;
        font-size: 1.2rem;
        background-color: transparent;
        transition: 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

